// TITLE AND TEXT

.lh-copy {
    line-height: 1.5;
}

.pa3 {
    padding: 1rem;
}

.f3 {
    font-size: 1.5rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .f1-m {
        font-size: 3rem;
    }
}

@media screen and (min-width: 60em) {
    .f-headline-l {
        font-size: 6rem;
    }
}

// LINK HEADER HOVER
.dib {
    display: inline-block;
}

.fw7 {
    font-weight: 700;
}

.lh-copy {
    line-height: 1.5;
}

.black {
    color: #000;
}

.bg-white {
    background-color: #fff;
}

.hover-bg-light-blue:hover {
    background-color: #96ccff;
}

.hover-bg-light-blue:focus {
    background-color: #96ccff;
}

.pa2 {
    padding: .5rem;
}

.pa4 {
    padding: 2rem;
}

.no-underline {
    text-decoration: none;
}

.f4 {
    font-size: 1.25rem;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}
