<section class="content-section">

  <article class="content-body home-page">
    <h1>Hello, I'm Nathan.</h1>

    <p>I work as the digital, print and web designer for <a href="http://yes-mag.com">Yes - Your English Supplement</a>, a monthly magazine for EFL learners and teachers.

    <p>You can find more information about me <a href="/about">here</a>.</p>

  </article>
</section>
