<section class="main">
    <!-- get content from another file -->
    <!-- <%- partial("about") %> -->
    <!-- <%- partial("_partials/_header") %> -->


  <h1 style="text-align:center;">Your sites content goes here</h1>
</section>
