<div class="header">
  <div class="header-logo">
    <a class="without-underline" href="/"><%- siteTitle %></a>
  </div>
  <ul class="header-nav">
  <li><a href="/about">About</a></li>

<!--<%- partial("../_shared/_navigation") %>-->
  </ul>
</div>
